@page "/"

<style>
    .container { width: 400px; }
    button { width: 100px; height: 100px; font-size: 50px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <button @onclick="ButtonClick" type="button" class="btn btn-outline-dark">@randomizedAnimals[0, 0]</button>
        </div>
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[0, 1]</button>
        </div>
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[0, 2]</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[1, 0]</button>
        </div>
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[1, 1]</button>
        </div>
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[1, 2]</button>

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[2, 0]</button>
        </div>
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[2, 1]</button>
        </div>
        <div class="col-sm">
            <button @onclick="ButtonClick"  type="button" class="btn btn-outline-dark">@randomizedAnimals[2, 2]</button>
        </div>
    </div>
</div>

@code {
    List<string> animalEmoji = new List<string>()
            {
               "🐶","🐶",
               "🐺","🐺",
               "🐮","🐮",
               "🦊","🦊",
               "🐱","🐱",
               "🦁","🦁",
               "🐯","🐯",
               "🐹","🐹",
            };

    [Parameter]
    public string[,] randomizedAnimals { get; set; } = new string[3, 3];

    protected override void OnInitialized()
    {
        SetUpGame();
    }

    private void SetUpGame()
    {
        Random random = new Random();

        for (int row = 0; row < 3; row++)
        {
            for (int col = 0; col < 3; col++)
            {
                int index = random.Next(animalEmoji.Count);

                randomizedAnimals[row, col] = animalEmoji[index];
            }
        }
    }

    private void ButtonClick()
    { 
    }
}